@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model UserDTO
}

<div class="container-fluid">
    <div class="row">

        <!-- Left Sidebar -->
        <div class="col-lg-2 col-md-3 d-none d-md-block bg-light">
            @*<h4>@Model.FirstName @Model.LastName</h4>
            <p>@Model.Email</p>*@
            @if (Model != null)
            {
                <h4>@Model.FirstName @Model.LastName</h4>
                <p>@Model.Email</p>
                <!-- Add other user details as required -->
            }
            else
            {
                <h4>User details not available</h4>
            }
            <!-- Add other user details as required -->

            <button class="btn btn-primary btn-block mt-2">Notifications</button>
            <button class="btn btn-primary btn-block mt-2">Requests</button>
            <button class="btn btn-primary btn-block mt-2">Update Profile</button>
            <button class="btn btn-primary btn-block mt-2">Upload Photo</button>
            <button class="btn btn-primary btn-block mt-2">Modify Roles</button>
            <button class="btn btn-primary btn-block mt-2">Visitors</button>
        </div>

        <!-- Content Area -->
        <div class="col-lg-10 col-md-9">
            <!-- You can add content for the right side here -->
        </div>
    </div>
</div>

<!-- Mobile Navbar -->
<nav class="navbar navbar-expand-lg d-md-none navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileNavbar">
        Menu
    </button>
    <div class="collapse navbar-collapse" id="mobileNavbar">
        <ul class="navbar-nav">
            @if (Model != null)
            {
                <li class="nav-item">@Model.FirstName @Model.LastName</li>
            }
            else
            {
                <li class="nav-item">No user data available</li>
            }
            <!-- Repeat for other buttons/links -->
        </ul>
    </div>
</nav>
