@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model UserDTO
}

<div class="container-fluid">
    <div class="row">

        <!-- Left Sidebar -->
        <div class="col-lg-2 col-md-3 d-none d-md-block bg-light">
            @*<h4>@Model.FirstName @Model.LastName</h4>
            <p>@Model.Email</p>*@
            @if (Model != null)
            {
                <h4>@Model.FirstName @Model.LastName</h4>
                <p>@Model.Email</p>
                <p>@Model.Role</p>
                <!-- Add other user details as required -->
            }
            else
            {
                <h4>User details not available</h4>
            }
            <!-- Add other user details as required -->

            <button class="btn btn-primary btn-block mt-2">Notifications</button>
            <button class="btn btn-primary btn-block mt-2">Requests</button>
            <button class="btn btn-primary btn-block mt-2" data-bs-toggle="modal" data-bs-target="#updateProfileModal">Update Profile</button>
            <button class="btn btn-primary btn-block mt-2">Upload Photo</button>
            <button class="btn btn-primary btn-block mt-2">Modify Roles</button>
            <button class="btn btn-primary btn-block mt-2">Visitors</button>
        </div>

        <!-- Content Area -->
        <div class="col-lg-10 col-md-9">
            <!-- You can add content for the right side here -->
        </div>
    </div>
</div>

<!-- Mobile Navbar -->
<nav class="navbar navbar-expand-lg d-md-none navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileNavbar">
        Menu
    </button>
    <div class="collapse navbar-collapse" id="mobileNavbar">
        <ul class="navbar-nav">
            @if (Model != null)
            {
                <li class="nav-item">@Model.FirstName @Model.LastName</li>
            }
            else
            {
                <li class="nav-item">No user data available</li>
            }
            <!-- Repeat for other buttons/links -->
        </ul>
    </div>
</nav>

<!-- Update Profile Modal -->
<div class="modal fade" id="updateProfileModal" tabindex="-1" aria-labelledby="updateProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateProfileModalLabel">Update Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updateProfileForm" asp-action="UpdateUserProfile" asp-controller="Dashboard" method="post">
                    <div class="form-group">
                        <label for="firstName">First Name:</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" value="@Model.FirstName">
                    </div>
                    <div class="form-group">
                        <label for="middleName">Middle Name:</label>
                        <input type="text" class="form-control" id="middleName" name="middleName" value="@Model.MiddleName">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name:</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" value="@Model.LastName">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" value="@Model.Email">
                    </div>
                    <div class="form-group">
                        <label for="role">Role:</label>
                        <input type="text" class="form-control" id="role" name="role" value="@Model.Role">
                    </div>
                    <div class="form-group">
                        <label for="dob">Date of Birth:</label>
                        <input type="date" class="form-control" id="dob" name="dob" value="@Model.DOB.ToString("yyyy-MM-dd")">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
